@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .my-input {
    @apply w-full;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .scrollbar {
    padding: 1rem;
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100vh;
    height: 50px;
    /* border: 0px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Light.woff2");
  font-weight: 400;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Bold.woff2");
  font-weight: 800;
}
body {
  font-family: YekanBakh, "Sans-Serif";
  direction: rtl;
  line-height: -2px !important;
  background: rgba(250, 246, 246, 0.795);
}
:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.p-dataview-content {
  background: transparent;
}
:root {
  --p-datatable-column-title-font-weight: 400;
}
