@import "~/node_modules/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .my-input {
    @apply w-full;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .scrollbar {
    padding: 1rem;
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100vh;
    height: 50px;
    /* border: 0px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Light.woff2");
  font-weight: 400;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: YekanBakh;
  src: url("../assets/webfonts/Vazirmatn-FD-Bold.woff2");
  font-weight: 800;
}
body {
  font-family: YekanBakh, "Sans-Serif";
  direction: rtl;
  line-height: -2px !important;
  background: rgba(250, 246, 246, 0.795);
}
:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.p-dataview-content {
  background: transparent;
}
:root {
  --p-datatable-column-title-font-weight: 400;
}
body > jdp-container {
  display: none;
}
jdp-container {
  z-index: 10000000 !important;
}
@media (max-width: 767px) {
  #dt-responsive-table table {
    width: 100% !important;
  }

  #dt-responsive-table table thead {
    /* display: none !important;  */
  }

  /* Styles for the table rows */
  #dt-responsive-table table tbody {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    min-height: auto !important; /* Adjust the min-height as needed */
  }

  /* Styles for individual table rows (cards) */
  #dt-responsive-table table tbody tr {
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    margin-bottom: 1rem !important;
    background-color: #fff !important;
    padding: 1rem !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  }

  /* Styles for table cells within rows */
  #dt-responsive-table table tbody td {
    margin: 0.5rem 0 !important;
  }

  /* Hide individual table rows (cards) on mobile */
  #dt-responsive-table table tbody tr {
    display: table-row !important;
  }

  /* Set the display of table cells to be block-level elements */
  #dt-responsive-table table tbody td {
    display: block !important;
    margin: 0.5rem 0 !important;
  }
}
